[submodule "external/lsm-vba-core"]
	path = external/lsm-vba-core
	url = https://github.com/kamelmh/lsm-vba-core.git
[submodule "milestone_13_2/public-lsm"]
	path = milestone_13_2/public-lsm
	url = https://github.com/kamelmh/lsm-vba-core.git
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers.git
