*.xlsm
*.xlsb
*.xlsx
*.bak_phase*
*.archived
ARCHIVED/
.dropbox/
.dropbox.cache/
desktop.ini
.tmp.driveupload/
*.AutoRecovered*
LLM_WIKI_AND_DISPATCH/
Repomix_Outputs/
Academic_References/
Final_Delivery_Layout/
Claude_Desktop/
Defense_Support/
SYSTEM_INSTRUCTIONS.md
*.bak
*.frx
*.log
Create_StockForm.txt
frmStockEntry_spec_table.html
